<div id="app-login">
  <div>
    <form
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
    >
      <div>
        <label
          for="username"
        >
          Username:
        </label>
        <input
          id="username"
          type="text"
          placeholder="Username"
          formControlName="username"
        />
      </div>
      <div>
        <label
          for="password"
        >
          Password:
        </label>
        <input
          id="password"
          type="password"
          placeholder="***********"
          formControlName="password"
        />
      </div>
      <div>
        <button
          type="submit"
        >
          Sign In
        </button>
      </div>
    </form>
  </div>
</div>
